.panda-bg-info
{
    background-color: #fceae8;
}
.panda-btn-buy-now
{
    color: white;
    border-radius: 8px;
    border: none;
    padding: 9px 25px;
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff4b92 100%);
}
.categories img
{
    width: 100px;
}
.nav-bar
{
    margin-bottom: 125px
}